<p id="notice"><%= notice %></p>

<h1>Listing Patologia</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patologia.each do |patologium| %>
      <tr>
        <td><%= patologium.nombre %></td>
        <td><%= patologium.descripcion %></td>
        <td><%= link_to 'Show', patologium %></td>
        <td><%= link_to 'Edit', edit_patologium_path(patologium) %></td>
        <td><%= link_to 'Destroy', patologium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patologium', new_patologium_path %>
