<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @patologium.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @patologium.descripcion %>
</p>

<%= link_to 'Edit', edit_patologium_path(@patologium) %> |
<%= link_to 'Back', patologia_path %>
