<%= form_for(@pregunta_visitum) do |f| %>
  <% if @pregunta_visitum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pregunta_visitum.errors.count, "error") %> prohibited this pregunta_visitum from being saved:</h2>

      <ul>
      <% @pregunta_visitum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pregunta %><br>
    <%= f.text_field :pregunta %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
