<p id="notice"><%= notice %></p>

<h1>Listing Pregunta Visita</h1>

<table>
  <thead>
    <tr>
      <th>Pregunta</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pregunta_visita.each do |pregunta_visitum| %>
      <tr>
        <td><%= pregunta_visitum.pregunta %></td>
        <td><%= pregunta_visitum.descripcion %></td>
        <td><%= link_to 'Show', pregunta_visitum %></td>
        <td><%= link_to 'Edit', edit_pregunta_visitum_path(pregunta_visitum) %></td>
        <td><%= link_to 'Destroy', pregunta_visitum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pregunta visitum', new_pregunta_visitum_path %>
