<%= form_for(@visitum) do |f| %>
  <% if @visitum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visitum.errors.count, "error") %> prohibited this visitum from being saved:</h2>

      <ul>
      <% @visitum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :InrDomicilio %><br>
    <%= f.text_field :InrDomicilio %>
  </div>
  <div class="field">
    <%= f.label :pacientes_id %><br>
    <%= f.text_field :pacientes_id %>
  </div>
  <div class="field">
    <%= f.label :observacion %><br>
    <%= f.text_area :observacion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
