<p id="notice"><%= notice %></p>

<h1>Listing Respuesta Vs</h1>

<table>
  <thead>
    <tr>
      <th>Visita</th>
      <th>Pregunta visita</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @respuesta_vs.each do |respuesta_v| %>
      <tr>
        <td><%= respuesta_v.visita %></td>
        <td><%= respuesta_v.pregunta_visita %></td>
        <td><%= link_to 'Show', respuesta_v %></td>
        <td><%= link_to 'Edit', edit_respuesta_v_path(respuesta_v) %></td>
        <td><%= link_to 'Destroy', respuesta_v, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Respuesta v', new_respuesta_v_path %>
