<%= form_for(@prescripcion_diarium) do |f| %>
  <% if @prescripcion_diarium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prescripcion_diarium.errors.count, "error") %> prohibited this prescripcion_diarium from being saved:</h2>

      <ul>
      <% @prescripcion_diarium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cantidadGramos %><br>
    <%= f.text_field :cantidadGramos %>
  </div>
  <div class="field">
    <%= f.label :prescripcions_id %><br>
    <%= f.text_field :prescripcions_id %>
  </div>
  <div class="field">
    <%= f.label :dia_semanals_id %><br>
    <%= f.text_field :dia_semanals_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
