<p id="notice"><%= notice %></p>

<h1>Listing Caracteristica Patologicas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @caracteristica_patologicas.each do |caracteristica_patologica| %>
      <tr>
        <td><%= caracteristica_patologica.nombre %></td>
        <td><%= caracteristica_patologica.descripcion %></td>
        <td><%= link_to 'Show', caracteristica_patologica %></td>
        <td><%= link_to 'Edit', edit_caracteristica_patologica_path(caracteristica_patologica) %></td>
        <td><%= link_to 'Destroy', caracteristica_patologica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caracteristica patologica', new_caracteristica_patologica_path %>
