<%= form_for(@cuenta_usuario) do |f| %>
  <% if @cuenta_usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cuenta_usuario.errors.count, "error") %> prohibited this cuenta_usuario from being saved:</h2>

      <ul>
      <% @cuenta_usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :identificacion %><br>
    <%= f.number_field :identificacion %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :rol %><br>
    <%= f.number_field :rol %>
  </div>
  <div class="field">
    <%= f.label :genero %><br>
    <%= f.number_field :genero %>
  </div>
  <div class="field">
    <%= f.label :fechaNacimiento %><br>
    <%= f.date_select :fechaNacimiento %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
    <%= f.label :estado %><br>
    <%= f.number_field :estado %>
  </div>
  <div class="field">
    <%= f.label :tipo_documentos_id %><br>
    <%= f.text_field :tipo_documentos_id %>
  </div>
  <div class="field">
    <%= f.label :estado_civils_id %><br>
    <%= f.text_field :estado_civils_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
